	 
	<footer class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark" id="FootNav">
				<div class="col-md-12">
				  <div class="noncollapse navbar-noncollapse" id="noncollapsibleNavbar">
				    <ul class="navbar-nav ml-auto mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" href="#">Home</a>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbardropdown1" data-toggle="dropdown">Accomodation</a>
						  <div class="dropdown-menu">
					        <a class="dropdown-item" href="#">Home Stay</a>
					        <a class="dropdown-item" href="#">Kennels</a>
					      </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbardropdown2" data-toggle="dropdown">Petcare</a>
						  <div class="dropdown-menu">
					        <a class="dropdown-item" href="#">Grooming</a>
					        <a class="dropdown-item" href="#">Swimming</a>
					        <a class="dropdown-item" href="#">Dog Walking</a>
					        <a class="dropdown-item" href="#">Training</a>
					        <a class="dropdown-item" href="#">Transportation</a>
					        <a class="dropdown-item" href="#">Pet Photography</a>
					      </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbardropdown3" data-toggle="dropdown">Services</a>
						  <div class="dropdown-menu">
					        <a class="dropdown-item" href="#">Adoption/Lost & Found</a>
					        <a class="dropdown-item" href="#">NGO</a>
					        <a class="dropdown-item" href="#">Wishlist</a>
					        <a class="dropdown-item" href="#">Rental & Donation</a>
					      </div>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">About Us</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Open Forum</a>
				      </li>
				    </ul>
				  </div>
				</div>
			</nav>
			<ul class="footer-social">
				<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
				<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
			</ul>
			<p class="footer-p">Copyrights &copy; 2018PawClub. All rights reserved</p>
		</div>
	</footer>